//
   Created by Derek Rada on 4/18/2014.
   Legacy dashboard view

extends layout
block append style
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/noc.css')
    link(rel='stylesheet', href='/stylesheets/uilayout.css')

block append header
    .nav
        h1
            a(href="/") GMTI
        p /
        if (front)
            h1
                a(href="#{front.uri}") #{front.name}
            p /
            if (dashboard)
                h1 #{dashboard.name}
            else
                h1 dev_test
        else
            h1
                a(href="/test") TEST
        #timeArea
            h1.currentTime



block append content
    if (dashboard)
        #title
            h2 #{dashboard.description}
            #settingsBox
                //
                    #{barFormat}
                select#pickFormat
                    if (barFormat == 'stack')
                        option(value="stack", selected) Stacked Bar
                    else
                        option(value="stack") Stacked Bar

                    if (barFormat == 'side')
                        option(value="side", selected) Multi Bar
                    else
                        option(value="side") Multi Bar

                    if (barFormat == 'cpu')
                        option(value="cpu", selected) CPU View
                    else
                        option(value="cpu") CPU View

                    if (barFormat == 'mem')
                        option(value="mem", selected) Memory View
                    else
                        option(value="mem") Memory View

    else
        #title
            h2 Description


    #flot-container
        #cpubar.flotFullWShortH
        #line2
            .stackedGauges
                #cpuGauge
                #memGauge
            #topUsage.flotGauge(style="width: 200px;", ng-app="usageApp", ng-controller="usageCntrl")
                #cpu
                    table
                        thead
                            tr
                                th High CPU
                                th %
                        tbody
                            tr.selectable(ng-repeat="server in CPUServers")
                                td(ng-click="drillDown(server.server)") {{server.server}}
                                td(ng-click="drillDown(server.server)") {{server.cpu}}
                #memory
                    table
                        thead
                            tr
                                th High Memory
                                th %
                        tbody
                            tr.selectable(ng-repeat="server in MemServers")
                                td(ng-click="drillDown(server.server)") {{server.server}}
                                td(ng-click="drillDown(server.server)") {{server.mem}}
            #groupAverages.flotMediumWShortH

    #drilldownModal
        #modalClose
            span X
        #drillDownTitle Server:
        #drillDownHolder.flotFullWFullH
        // #cputime.flotFullWShortH

    if (dashboard)
        #hiddenField(data-did="#{dashboard.uri}")
    else
        #hiddenField(data-did="dev_test")

block append footer
    p Click on a bar to drill down to that specific server.
    p Data is refreshed every 30 seconds but could be up to 1 minute old.  Data is discarded after an hour.

block append scripts
    script(type='text/javascript', src='/javascripts/flot/jquery.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.orderBars.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.tooltip.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.time.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.navigate.min.js')
    script(type='text/javascript', src='/javascripts/flot/jquery.flot.selection.min.js')
    script(type='text/javascript', src="/javascripts/raphael.2.1.2.min.js")
    script(type='text/javascript', src="/javascripts/justgage.js")
    script(src='/javascripts/flot/jquery.flot.downsample.js')
    script(type='text/javascript', src='/javascripts/angular.js')
    script(type='text/javascript', src='/javascripts/dashboard.js')

