//
   Created by Dirrk on 5/9/2014.
link(rel='stylesheet', href='/stylesheets/report.css')

table
    tr
        td Start:
        td #{start}
    tr
        td End
        td #{end}


table(stye="width: 100%")
    thead
        td Server
        td Average CPU
        td Average Mem
        td High CPU
        td Low CPU
        td High Mem
        td Low Mem
    each serv,i in data
        tr(class=(i%2 == 0) ? 'odd' : 'even')
            td #{serv.server}
            td #{serv.averageCPU}
            td #{serv.averageMem}
            td #{serv.highCPU}
            td #{serv.lowCPU}
            td #{serv.highMem}
            td #{serv.lowMem}
