//
   Created by Derek on 5/9/2014.

table(style="width: 100%")
    tr
        td(style="width: 12%; height: 20px;") Start:
        td(style="width: 60%; height: 20px;") #{start}
    tr
        td(style="width: 12%; height: 20px;") End
        td(style="width: 60%; height: 20px;") #{end}


table(style="width: 100%")
    thead
        td(style="width: 12%; height: 20px;") Server(datapoints)
        td(style="width: 12%; height: 20px;") Average CPU
        td(style="width: 12%; height: 20px;") Average Mem
        td(style="width: 12%; height: 20px;") High CPU
        td(style="width: 12%; height: 20px;") Low CPU
        td(style="width: 12%; height: 20px;") High Mem
        td(style="width: 12%; height: 20px;") Low Mem
    each serv,i in data
        tr(style=(i%2 == 0) ? 'background-color: lightgrey' : 'background-color: white')
            td(style="width: 12%; height: 20px;") #{serv.server}(#{serv.data.length})
            td(style="width: 12%; height: 20px;") #{serv.averageCPU}
            td(style="width: 12%; height: 20px;") #{serv.averageMem}
            td(style="width: 12%; height: 20px;") #{serv.highCPU}
            td(style="width: 12%; height: 20px;") #{serv.lowCPU}
            td(style="width: 12%; height: 20px;") #{serv.highMem}
            td(style="width: 12%; height: 20px;") #{serv.lowMem}
