//
   Created by Dirrk on 5/9/2014.

table
    tr
        td(stye="width: 14%") Start:
        td(stye="width: 14%") #{start}
    tr
        td(stye="width: 14%") End
        td(stye="width: 14%") #{end}


table(stye="width: 100%")
    thead
        td(stye="width: 14%") Server
        td(stye="width: 14%") Average CPU
        td(stye="width: 14%") Average Mem
        td(stye="width: 14%") High CPU
        td(stye="width: 14%") Low CPU
        td(stye="width: 14%") High Mem
        td(stye="width: 14%") Low Mem
    each serv,i in data
        tr(style=(i%2 == 0) ? 'background-color: lightgrey' : 'background-color: white')
            td(stye="width: 14%") #{serv.server}
            td(stye="width: 14%") #{serv.averageCPU}
            td(stye="width: 14%") #{serv.averageMem}
            td(stye="width: 14%") #{serv.highCPU}
            td(stye="width: 14%") #{serv.lowCPU}
            td(stye="width: 14%") #{serv.highMem}
            td(stye="width: 14%") #{serv.lowMem}
